<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
         style="height:100vh; background-size: cover; background-image: url(http://www.art-portrets.ru/pict3/devochka-s-zerkalom.jpg);">

  <div class="container-fluid">
    <div class="row  justify-content-center align-items-center d-flex text-center h-100">
      <div class="col-12 col-md-8  h-50 ">
        <h1 class="display-2  text-light mb-2 mt-5"><strong>Survive. Together. </strong></h1>
        <p class="lead  text-light mb-5">Find your reflection</p>
        <p><a href="#" class="btn bg-primary btn-round text-light btn-lg btn-rised action">
          <i class="fa fa-cloud-upload" aria-hidden="true"></i>
        </a></p>
        <p><a href="#" class="action btn bg-danger btn-round text-light btn-lg btn-rised">
          <i class="fa fa-camera" aria-hidden="true"></i>
        </a></p>
      </div>
    </div>
  </div>
</section>
