<div>
  <webcam [height]="350" [width]="350" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
          *ngIf="showWebcam"
          [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
          [videoOptions]="videoOptions"
          [imageQuality]="1"
          (cameraSwitched)="cameraWasSwitched($event)"
          (initError)="handleInitError($event)">

  </webcam>
</div>

<p class="cont">
  <button (click)="toggleWebcam()" class="action btn bg-danger btn-round text-light btn-lg btn-rised">
    <i class="fa fa-camera-retro" aria-hidden="true" *ngIf="!showWebcam"></i>
    <i class="fa fa-close" *ngIf="showWebcam"></i>
  </button>
</p>
<p class="cont">
  <button class="action btn bg-danger btn-round text-light btn-lg btn-rised"
          (click)="triggerSnapshot()"
          *ngIf="showWebcam"
  >Take A Snapshot
  </button>
</p>
