.action {
  width: 20%;
  background: transparent;
  border: none;
  display: inline-block;
  cursor: pointer;
  fill: #151515;
}
.option:hover {
  color: red;
}

.action:hover {
  fill: lightgrey !important;
}

.img-option {
  display: flex;
  justify-content: center;
}

.back {
  font-size: 20px;
  color: #fff;
}

.camera-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-0 {
  margin-bottom: 0;
}

.close-camera {
  color: #fff;
}

button:focus {
  border: none;
}

button {
  padding-bottom: 0;
  border: none;
  background: none;
  outline: none;
}

