.action {
  width: 20%;
}

.upload {
  cursor: pointer;
  display: inline-block;
  fill: #151515;
}
.upload:hover {
  fill: lightgrey !important;
}

.main-title {
  padding-top: 25px;
  color: #fff;
  font-size: 75px;
  margin-bottom: 30px;
  text-shadow: 2px 2px rgba(0,0,0,0.1);
}

.main-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.error-msg {
  font-weight: bold;
  color: #59a3ff;
  text-decoration: underline;
}

.mobile-title {
  font-size: 48px;
}

.view-container {
  margin-right: auto;
  margin-left: auto;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.mt-30 {
  margin-top: 30px;
}

.sub-title {
  font-size: 25px;
}

button:focus {
  border: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.rights {
  font-size: 14px;
}

.brightness-low {
  -webkit-filter: brightness(0.25);
}

@media only screen and (min-device-width: 480px) {
  .appeared-in-wrapper {
    display: none;
  }
  .appeared-in {
    display: none;
  }
}

.appeared-in-wrapper {
  display: block;
  position: fixed;
  bottom: 3%;
  width: 150px;
  margin-left:-75px;
  max-width: 95%; 
  right:5%;
}

.appeared-in {
  display: flex;
  justify-content: space-between; 
  font-size: 16px;
}

.appeared-in a {
  color: white;
  text-decoration: none;
}

.appeared-in a:hover {
  -webkit-filter: brightness(1.4);
}

.appeared-in a img {
  height: 4rem;
  width: 4rem;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.appeared-in a img:hover {
  -webkit-filter: brightness(1.4);
}

.created-by {
  position: fixed;
  bottom: 5px;
  left: 10px;
  display: flex;
  color: white;
  justify-content: space-between; 
  width: 350px;
  max-width: 95%; 
  font-size: 16px;
}

.created-by a {
  color: white;
  text-decoration: none;
}
