.credits {
  font-family: "Proxima Nova","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.credits-pos-1 {
  right: 0em
}

.credits-pos-2 {
  right: 84px
}

.credits-pos-3 {
  right: 165px
}

.credits-pos-4 {
  right: 231px
}

.credits div {
  /*right: 0;*/
  bottom: 0;
  position: fixed;
  padding: 0.5em;
  font-weight: 600;
  z-index: 40;
  vertical-align: middle;
  background-color: #fc4946;
  color: #42b4ff;
  background-color: #fff;
  color: #fc4946;
}

.credits div:hover {
  background-color: #fc4946;
  color: #fff;
}

.credits div img {
    border-radius: 2em;
    width: 1.5em;
    vertical-align: middle;
}

.action {
  width: 20%;
}

.upload {
  cursor: pointer;
  display: inline-block;
  fill: #151515;
}
.upload:hover {
  fill: lightgrey !important;
}

.main-title {
  padding-top: 25px;
  color: #fff;
  font-size: 80px;
  margin-bottom: 60px;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.main-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.error-msg {
  font-weight: bold;
  color: #59a3ff;
  text-decoration: underline;
}

.mobile-title {
  font-size: 48px;
}

.view-container {
  margin-right: auto;
  margin-left: auto;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.mt-30 {
  margin-top: 30px;
}

.sub-title {
  font-size: 25px;
}

button:focus {
  border: none;
}

.main-content {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.rights {
  font-size: 14px;
}
