/* You can add global styles to this file, and also import other style files */
body {
  background: #6e6e6e url('./assets/Mirror_modified.svg') no-repeat;
  background-size: cover !important;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 100%;
  width: 100%;
}
.heighty {
  height: 100% !important;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid red;
  /*border-top: 16px solid #3498db;*/
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}
.fit-content {
  width: fit-content !important
}

.img-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.width-100 {
  width: 100% !important;
}

button {
  padding: 0 !important;
}

.mbottom-5 {
  margin-bottom: 5px;
}

.margin-0 {
  margin: 0 !important;
}

.height-100 {
  height: 100%;
}
.action-mobile {
  fill: lightgrey !important;
  width: 35% !important;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}
