/* You can add global styles to this file, and also import other style files */
body {
  background-color: #6e6e6e;
  background-image: url('./assets/Mirror_modified.svg');
  background-attachment: fixed;
  background-size: cover;
}
.heighty {
  height: 100% !important;
}

