#modal-container{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}
#modal-container-content{
  border-radius: 3px;
  padding: 1%;
  background: white;
  width:80%;
  position:relative ;
  margin:20px auto;
}

#modal-content-header{

}

#modal-content-image img{
  width: 250px;
  display: block;
  margin: 0 auto;
}
#modal-content-image-match{
  text-align: center;
  margin: auto;
  display: flex;
}
#modal-content-image-match .match-child{
  flex-direction: row;
  margin-right: 5%;
}

#modal-content-image-match img:last-child{
  clear: both;
}

#modal-content-footer button{
  margin: 0.5%;
}
