<div id="modal-container">
  <div id="modal-container-content">
    <div id="modal-content-header">
      <h3>Profile Image</h3>
    </div>
    <hr>
    <div id="modal-content-image" *ngIf="!isMatch">
      <img [src]="commonService.getImageSrc()" />
    </div>
    <div id="modal-container-match" *ngIf="isMatch">
      <div id="modal-container-match-text">
        <div class="match-child">
          <p>
            {{matchObj.matchName}}
          </p>
          <hr>
          <p>
            {{matchObj.description}}
          </p>
        </div>

        <div class="match-child">
          <circle-progress
            [percent]="getSimilarity()"
            [radius]="65"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        </div>
      </div>
      <div id="modal-container-match-image">
        <div class="frame-square">
          <div class="crop">
            <img [src]="commonService.getImageSrc()" />
          </div>
        </div>
        <div class="frame-square">
          <div class="crop">
            <img [src]="matchObj.matchSrc" />
          </div>
        </div>
      </div>


    </div>
    <hr>
    <div id="modal-content-footer">
      <button type="button" class="btn btn-primary" (click)="setMatch()">Match</button>
      <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
    </div>
  </div>

</div>
