<div id="modal-container">
  <div id="modal-container-content">
    <div id="modal-content-header">
      <h3>PROFILE IMAGE</h3>
    </div>
    <hr>
    <div id="modal-content-image" *ngIf="!isMatch">
      <img [src]="commonService.getImageSrc()" />
    </div>
    <div id="modal-content-image-match" *ngIf="isMatch">
      <p>{{matchObj.matchName}}</p>
      <p>{{matchObj.similarityScore*100}}%</p>
      <img [src]="commonService.getImageSrc()" />
      <img [src]="matchObj.matchSrc" /><br>
    </div>
    <hr>
    <div id="modal-content-footer">
      <button type="button" class="btn btn-primary" (click)="setMatch()">MATCH</button>
      <button type="button" class="btn btn-danger" (click)="closeModal()">CLOSE</button>
    </div>
  </div>

</div>
